body {
    background-image: url(../img/brown.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin: auto;
    color: #DF493F;
}

.card-header {
    text-align: center;
    font-size: 2rem;
}

.btn1 {
    text-align: center;
}